---
---

@import '{{ site.theme }}';

#forkme_banner {
  bottom: -1rem;
  top: unset;
  padding: 0.25rem 1rem;
  border-radius: 2px;
  background: #f2f2f2;
  color: #0366d6;
  border: 1px solid #111;
}

#forkme_banner:hover {
  text-decoration: none;
  color: #373737;
}

img,
code {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.highlight, img {
  border-radius: 3px;
}

code {
  padding: 2px;
  margin: 0 1px;
}

.highlight code {
  background: unset;
  color: unset;
}

th,
td {
  padding: 0.25rem 0.75rem;
}

table,
td,
th {
  border: none;
}

th {
  background: #e5e5e5;
  color: #373737;
}

table td + td,
table th + th {
  border-left: 1px solid #ccc;
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  body {
    color: #ddd;
  }
  #main_content_wrap {
    background: #222;
  }
  #footer_wrap {
    background: #333;
  }
  #forkme_banner {
    background: #373737;
    color: #58a6ff;
  }
  #forkme_banner:hover {
    color: #fff;
  }
  code {
    background: #000;
    color: #ddd;
  }
  .highlight {
    background: #ddd;
  }
  .highlight code {
    background: unset;
    color: unset;
  }
  img,
  code {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  th {
    background: #373737;
    color: #fff;
  }

  table td + td,
  table th + th {
    border-left: 1px solid #111;
  }
}
